@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection{
    background: #ffc857;
    color: #171818;
}

:root{
    --color:#292b30;
    --blue: #6c63ff;
    --d-gray: #5a6170;
    --l-gray: #9da6b8;
    --a-white: #0b2545;
    --h2-size: 4.8em;
    --h3-size: 2.8em;
    --p-size: 1.8em;
}

::-webkit-scrollbar{
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background: #ffc857;
}
 
::-webkit-scrollbar-track{
    background: #13315c;
}

[data-anime] {
    opacity: 0;
    transition: 3s;
}
  
[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}
  
[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}
  
[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}
  
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

html{
    font-size: 10px;
}

h2{
    font-size: var(--h2-size);
    font-weight: 400; 
    color: var(--color);
}

h3{
    font-size: var(--h3-size);
    font-weight: 300;
}

p{
    font-weight: 400;
    line-height: 1.5em;
}

menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1% 3%;
    background-color: #13315c;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #eef4ed;    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9999;
}

#menu{
    display: none;
    width: 40px;
}

#logo{
    font-size: 2.5em;
    color: #eef4ed;
    text-decoration: none;
    font-family: 'Roboto mono', sans-serif;
}

nav{
    min-width: 40%;
    height: 100%;
    display: flex;
}
nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 5px;
}

nav ul li{
    list-style: none;
    width: 120px;
}

nav ul li a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 400; 
    color: #eef4ed;
    transition: .4s;
}

.nav-link:hover{
    color: #ffc857;
}

menu nav ul li #contact-nav{
    background-color: #ffc857;
    width: 100%;
    color: #171818;
    padding: 3% 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 5px;
}

.container-need{
    background: linear-gradient(135deg, #134074 0%, #13315c 100%);
    min-width: 100% ; height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    border-bottom: 3px solid #8da9c4;
}

.need-text{
    color: #eef4ed;
    font-size: 9em;
    text-align: center;
    min-width: 100%;
    font-family: 'Roboto mono', sans-serif;
}

.need-text::after{
    content: "|";
    margin-left:5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}

.img-cursor{
    width: 8%;
    position: relative;
    top: 25%;
    left: 5%;
}

.img-brain{
    width: 15%;
    position: relative;
    bottom: 25%;
    right: 5%;
}

.img-brain , .img-cursor{
    animation: bouncing 1s ease infinite alternate;
}

@keyframes bouncing{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

.about-me{
    min-width: 100%;
    background-color: #eef4ed;
    padding: 7% 2%;
    border-bottom: 3px solid #0081a7;
    overflow-x: hidden;
    display: flex;
}

.about-left{
    max-width: 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 5% 5%;
    gap: 40px;
    color: #0b2545;
}

.about-left h2{
    color: #0b2545;
    font-size: 42px;
    font-family: 'Roboto Mono', sans-serif;
}

.about-me h2 span{
    transition: 0.5s;    
}

.about-me h2 span:hover{
    color: var(--blue);
}

.about-me p{
    font-size: 14px;
}

.about-me a{
    width: 7.5em;
    padding: 10px;
    font-size: 1.8em;
    border: none;
    background: #ffc857;
    color: black;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}

.about-me a:hover{
    background: #0081a7;
    color: white;
}

.about-right{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}

.about-right img{
    width: 75%;
}

footer{
    background-color: #13315c;
    display: flex;
    justify-content: space-between;
    padding: 3% 7%;
}

footer h3{
    font-family: 'Roboto mono', sans-serif;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 3em;
    color: #eef4ed;
    list-style: none;
}

footer div ul{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-size: 1.6em;
    list-style: none;
}

footer div a, footer div p{
    color: #eef4ed;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer div a{
    text-decoration: underline;
}

footer div img{
    width: 10%;
}

@media only screen and (max-width:1200px){
    menu{
        min-width: 100%;
        padding: 1% 4%;
    }

    #logo{
        font-size: 30px;
    }
    
    nav{
        max-width: 60%;
        height: 100%;
        display: flex;
    }
    nav ul{
        gap: 10px;
    }
    
    nav ul li{
        list-style: none;
    }
    
    .need-text{
        font-size: 52px;
    }

    .project{
        flex-direction: column;
    }

    .project-left{
        width: 100%
    }
    
    .project-right{
        width: 100%; 
    }

    .contact{
        flex-direction: column;
        gap: 15px;
    }
    
    .contact-box{
        width: 100%;
    }
}

@media only screen and (max-width:750px){
    #logo{
        font-size: 18px;
    }
    
    .need-text{
        font-size: 4.5em;
    }

    .img-cursor{
        width: 15%;
        left: -30px;
    }
    
    .img-brain{
        width: 25%;
        left: 10%;
    }

    .contact-box{
        grid-template-columns: 1fr;
    }


    nav{
        max-width: 60%;
        padding: 2%;
    }

    nav ul{
        display: flex;
        height: 100%;
    }

    .nav ul a:hover{
        color: #6c63ff;
    }

    .about-me{
        flex-direction: column;
    }

    .about-left{
        min-width: 100%;
    }

    .about-me p{
        font-size: 16px;
    }
    
    .about-right{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
    }
    
    .about-right img{
        width: 50%;
    }
}

@media only screen and (max-width:500px){
    #logo{
        font-size: 18px;
    }

    nav{
        min-width: 40%;
        height: 100%;
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        gap: 5px;
    }
    
    nav ul li{
        list-style: none;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    nav ul li a{
        padding: 4%;
    }
    
    .need-text{
        font-size: 32px;
    }

    nav{
        max-width: 50%;
        padding: 2%;
    }
    
    nav ul li{
        width: 80px;
    }
    
    nav ul li a{
        font-size: 12px;
    }

    .about-left h2{
        color: #0b2545;
        font-size: 32px;
        font-family: 'Roboto Mono', sans-serif;
    }
    
    .about-me p{
        font-size: 14px;
    }
    
    .about-me a{
        padding: 10px;
        font-size: 16px;
    
    }

    footer{
        flex-direction: column;
        gap: 40px;
        padding: 10% 7%;
    }

    footer h3{
        font-size: 18px;
    }

    footer a img {
        width: 10%;
    }
}