@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection{
    background: #ffc857;
    color: #171818;
}

::-webkit-scrollbar{
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background: #ffc857;
}
 
::-webkit-scrollbar-track{
    background: #13315c;
}

html{
    font-size: 10px;
}

menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1% 3%;
    background-color: #13315c;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #eef4ed;    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9999;
}

#menu{
    display: none;
    width: 40px;
}

#logo{
    font-size: 2.5em;
    color: #eef4ed;
    text-decoration: none;
    font-family: 'Roboto mono', sans-serif;
}

nav{
    min-width: 40%;
    height: 100%;
    display: flex;
}
nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 5px;
}

nav ul li{
    list-style: none;
    width: 120px;
}

nav ul li a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 400; 
    color: #eef4ed;
    transition: .4s;
}

.nav-link:hover{
    color: #ffc857;
}

menu nav ul li #contact-nav{
    background-color: #ffc857;
    width: 100%;
    color: #171818;
    padding: 3% 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 5px;
}


.work{
    background-color: #eef4ed;
    min-width: 100%;
    padding: 7% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 3px solid #eef4ed;
}

.work h3{
    font-size: 5em;
    color: #0b2545;
    font-weight: 400;
    font-family: 'Roboto mono', sans-serif;
}

#text-work{
    font-size: 14px;
    color: #051120;
    padding: 0% 11.5%;
    line-height: 20px;
}

.projects{
    min-width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 1%;
    flex-wrap: wrap;
    gap: 25px;
}

.project{
    background-color: #134074;
    color: #eef4ed;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 25%;
    padding: 3% 2%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    border-radius: 5px;
}

.project-right{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    font-size: 1.4em;
}

.project-right .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-right .projects-link{
    gap: 10px;
    font-size: 12px;
}

.project h3{
    font-size: 18px;
    font-weight: 400;
    color: #eef4ed;
}

.project img{
    width: 100%;
    border-radius: 5px;
}

.project a{
    color: #ffc857;
    border: 2px solid #ffc857;
    font-size: 14px;
    padding: 2% 3%;
    border-radius: 3px;
    text-decoration: none;
}

#seeProject{
    color: #0b2545;
    background-color: #ffc857;
}

footer{
    background-color: #13315c;
    display: flex;
    justify-content: space-between;
    padding: 3% 7%;
}

footer h3{
    font-family: 'Roboto mono', sans-serif;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 3em;
    color: #eef4ed;
    list-style: none;
}

footer div ul{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-size: 1.6em;
    list-style: none;
}

footer div a, footer div p{
    color: #eef4ed;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer div a{
    text-decoration: underline;
}

footer div img{
    width: 10%;
}

@media only screen and (max-width:1200px){
    menu{
        min-width: 100%;
        padding: 1% 4%;
    }

    #logo{
        font-size: 30px;
    }
    
    nav{
        max-width: 60%;
        height: 100%;
        display: flex;
    }
    nav ul{
        gap: 10px;
    }
    
    nav ul li{
        list-style: none;
    }

    .work{
        padding: 12% 0;
        gap: 15px;
    }
    
    #text-work{
        font-size: 14px;
        padding: 0% 9%;
        line-height: 20px;
    }
    
    .project{
        width: 40%;
    }
    

}

@media only screen and (max-width: 700px){
    menu{
        min-width: 100%;
        padding: 1% 4%;
    }

    #logo{
        font-size: 18px;
    }

    
    nav{
        max-width: 60%;
        padding: 2%;
    }

    nav ul{
        display: flex;
        height: 100%;
    }

    .nav ul a:hover{
        color: #6c63ff;
    }
    
    .work{
        padding: 15% 0;
        gap: 15px;
    }
    
    #titulo{
        font-size: 42px;
    }
    
    #text-work{
        font-size: 12px;
    }
    
    .project{
        width: 40%;
    }
    
    .project-right{
        font-size: 12px;
    }
    
    .project h3{
        font-size: 18px;
    }
    
    .project a{
        font-size: 12px;
    }

    .projects-link{
        width: 100%;
    }

    footer{
        flex-direction: column;
        gap: 40px;
        padding: 10% 7%;
    }

    footer h3{
        font-size: 18px;
    }

    footer a, footer p{
        font-size: 12px;
    }

    footer ul li img{
        width: 5%;
    }
}

@media only screen and (max-width: 500px){
    #logo{
        font-size: 16px;
    }

    menu{
        height: 10vh;
    }

    nav{
        min-width: 40%;
        height: 100%;
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        gap: 5px;
    }
    
    nav ul li{
        list-style: none;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    nav ul li a{
        padding: 4%;
    }

    nav{
        max-width: 50%;
        padding: 2%;
    }
    
    nav ul li{
        width: 80px;
    }
    
    nav ul li a{
        font-size: 12px;
    }

    .work{
        padding: 25% 0;
        gap: 15px;
    }

    #titulo{
        font-size: 42px;
    }
    
    #text-work{
        font-size: 12px;
    }

    .projects{
        padding: 0 8%;
    }
    
    .project{
        width: 100%;
        height: 400px;
        padding: 6% 3%;
    }
    
    .project-right{
        font-size: 12px;
        height: 100%;
    }
    
    .project h3{
        font-size: 18px;
    }
    
    .project a{
        font-size: 12px;
    }

    .projects-link{
        width: 100%;
    }

    footer{
        flex-direction: column;
        gap: 40px;
        padding: 10% 7%;
    }

    footer h3{
        font-size: 18px;
    }

    footer ul li img{
        width: 5%;
    }
}